<br>
<!--Grid row-->
<div class="row">

  <!--Grid column-->
  <div class="col-md-1">
  </div>
  <div class="col-md-9">

    <!--Spied element-->
    <div class="scrollspy-example z-depth-1 text-center p-0">

      <section mdbScrollSpyElement="scrollspy4" id="section1" class="p-5 blue lighten-4">
        <h3>FORMATION INITIALE</h3>
        <ul>

          <li><strong>2013-2016 :</strong> Doctorat de Physiologie et Physiopathologie humaine (Ecole doctorale
            Biologie Santé, Université d'Angers) intitulé :« Programmation fœtale du système vasculaire en réponse à
            l'exposition in utero au diabète maternel chez le rat », au laboratoire de Biologie Neurovasculaire et
            Mitochondriale Intégrées (BNMI), UMR CNRS 6214 / INSERM 1083, Angers. (Subvention d'études supérieures de
            l'université libanaise + Bourse d'allocation de président de l'université d'Angers)</li>
          <li><strong>2012-2013 :</strong> Master 2 en Biologie, option Physiopathologie humaine et modèles
            expérimentaux, Faculté de Médecine, Université d’Angers.classement 2e/5</li>
          <li><strong>2011-2012 :</strong> Master 1 en Biologie, option Biotechnologie. Faculté des Sciences,
            Université Libanaise, Tripoli.classement 2e/28</li>
          <li><strong>2010-2011 :</strong> Licence en Sciences de la Vie et de la Terre, spécialité biologie animale,
            Faculté des Sciences, Université Libanaise, Tripoli. classement 3e/53</li>
        </ul>

      </section>

      <section mdbScrollSpyElement="scrollspy4" id="section2" class="p-5 red lighten-4">
        <h3>Expériences professionnelles</h3>

        <!-- Card header -->
        <div class="card-header border-1 font-weight-bold d-flex justify-content-between">
            <p class="mr-4 mb-0">Ingénieur Logiciel</p>
        </div>
        <p class="mb-0">Projet :SafetyLog 
            Projet d'innovation pour la traçabilité de la Sécurisation du transport de matières dangereuses via la technologie blockchain :
            -	Réalisation de l’ensemble des IHMs définies dans les spécifications fonctionnelles.
            -	Développement des fonctionnalités liées à chaque IHM.
            -	Gestion des erreurs liées à la saisie de l’utilisateur.
            -	Gestion de la partie intégration dans Git
            -	Former les nouvelles ressources et transfert de compétences
            </p>
      </section>

      <section mdbScrollSpyElement="scrollspy4" id="section3" class="p-5 green lighten-4">
        <h3>Subsection 1B</h3>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure exercitationem mollitia
          fugit asperiores temporibus magnam perspiciatis. Repellat quisquam culpa odit! Dolore non consequuntur
          dignissimos adipisci tenetur debitis, quisquam culpa.
          Laborum officiis deserunt, assumenda pariatur vel dolorum provident beatae tenetur nihil quo dicta eius enim
          cumque reprehenderit voluptate nam aperiam eveniet et iusto at magni. Necessitatibus laborum assumenda
          consequuntur voluptate.
          Recusandae mollitia sequi in aperiam enim nesciunt incidunt, cumque ut voluptates ea nam quam beatae maxime
          voluptatem. Accusamus, animi vel eaque voluptatibus ipsam odio est, minus obcaecati praesentium nam iure!</p>
      </section>

      <section mdbScrollSpyElement="scrollspy4" id="section4" class="p-5 indigo lighten-4">
        <h3>Section 4</h3>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure exercitationem mollitia
          fugit asperiores temporibus magnam perspiciatis. Repellat quisquam culpa odit! Dolore non consequuntur
          dignissimos adipisci tenetur debitis, quisquam culpa.
          Laborum officiis deserunt, assumenda pariatur vel dolorum provident beatae tenetur nihil quo dicta eius enim
          cumque reprehenderit voluptate nam aperiam eveniet et iusto at magni. Necessitatibus laborum assumenda
          consequuntur voluptate.
          Recusandae mollitia sequi in aperiam enim nesciunt incidunt, cumque ut voluptates ea nam quam beatae maxime
          voluptatem. Accusamus, animi vel eaque voluptatibus ipsam odio est, minus obcaecati praesentium nam iure!</p>
      </section>

    </div>
    <!--/.Spied element-->

  </div>
  <!--Grid column-->


  <!--Grid column-->
  <div class="col-md-2 mb-4">

    <!--Scrollspy-->

    <div class="mdb-scrollspy-ex">

      <!-- Links -->
      <ul mdbScrollSpy="scrollspy4" class="mt-5 nav nav-pills default-pills smooth-scroll">
        <li class="nav-item"><a mdbScrollSpyLink="section1" class="nav-link" href="#section1">Formation INITIALE</a></li>
        <li class="nav-item"><a mdbScrollSpyLink="section2" class="nav-link" href="#section2">Section 2</a></li>
        <li class="nav-item"><a mdbScrollSpyLink="section3" class="nav-link" href="#section3">Section 3</a></li>
        <li class="nav-item"><a mdbScrollSpyLink="section4" class="nav-link" href="#section4">Section 4</a></li>
      </ul>
      <!-- Links
   -->

    </div>
    <!--Scrollspy-->

  </div>
  <!--Grid
   column-->

</div>
<!--Grid row-->