  <!--Section: Author Box-->
<section class="my-5">

  <!-- Card header -->
  <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
    <p class="mr-4 mb-0"></p>
    <ul class="list-unstyled list-inline mb-0">
      <li class="list-inline-item"><a class="blue-text mr-3"><i class="fas fa-envelope mr-1"></i> boudidib@live.com</a></li>
      <li class="list-inline-item">
        <a class="grey-text mr-1"><i class="blue-text mr-3 fab fa-lg fa-facebook-f"> </i></a>
      </li>
      <li class="list-inline-item">
        <a class="grey-text mr-1"><i class="blue-text mr-3 fab fa-lg fa-twitter"> </i></a>
      </li>
      <li class="list-inline-item">
        <a class="grey-text mr-1"><i class="blue-text mr-3 fab fa-lg fa-google-plus"> </i></a>
      </li>
      <li class="list-inline-item">
        <a class="grey-text mr-1"><i class=" blue-text mr-3 fab fa-lg fa-linkedin-in"></i></a>
      </li>
      <li class="list-inline-item">
        <a class="grey-text mr-1"><i class="blue-text mr-3 fab fa-lg fa-instagram"></i></a>
      </li>
      
    </ul>
  </div> 
</section>
<div class="row">
    <div class="col-md-1">
      </div> 
    <div class="col-md-5">
  <div id="demo" class="media">
    <div class="media-center">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid"
        alt="First sample avatar image">
    </div>
    <div class="media-body">
      <h4 class="media-heading"><h5 class="font-weight-bold">
          <a href="">Abdallah DIB</a></h5> <small>Ingénieur Logiciel JAVA JEE / Angular<br>
            Double compétence Docteur en Physiologie</small></h4>
      
        <ul>
          <li><mdb-icon fab icon="500px"></mdb-icon> 28 ans </li>
        
        <li>
            <mdb-icon fas icon="address-card"></mdb-icon>
            195 Boulevard Pereire
            Paris 75017, France
         </li>
         	
         <li><mdb-icon fas icon="sim-card"></mdb-icon> : +33620002856 </li> 
      </ul>
 </div>
</div>
</div>
<div class="col-md-5">
    <mdb-card class="w-75 mb-3">
        <mdb-card-body>
          <mdb-card-title>
              <h5 class="font-weight-bold">
                  <a href="">Compétences techniques</a> </h5>
          </mdb-card-title>
          <mdb-card-text>
              <ul>
            <li><b>BDD :</b> MySQL </li>
            <li><b>Langages :</b> Java, JEE, Javascript, HTML5,CSS3,Angular5 </li>
            <li><b>Méthodes :</b> Agile/Scrum, UML,Design Patterns </li>  
            <li><b>Outils :</b> Noepad,MS Powerpoint,MS Word,MS Excel </li>
            <li><b>Solutions :</b> Apache Tomcat </li>
            <li><b>Langue :</b> Anglais technique </li>
              </ul>
              </mdb-card-text>
          
        </mdb-card-body>
      </mdb-card>
</div>
</div>  

 <app-pricing></app-pricing>




      